@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Eczar:wght@400..800&family=Mingzat&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: "jsMath-cmbx10";
    src: url(../font/jsMath-cmbx10.woff);
    font-weight: 700;
}

@font-face {
    font-family: "Microsoft Uighur";
    src: url(../font/microsoft-uighur.woff);
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    scroll-behavior: smooth;
    
}

:root {
    font-size: 20px;
    /* --header-height: 90px; */
    --orange: rgba(214, 158, 3, 0.856);
    --white-color: #fff;
    --main-color: #FFFFFC;
    --main-red: #5C0202;
    --main-gray: #F6F6F6;
    --main-orange: #91601B;
    --txt-purple: #5C0238;
    --back-beep-purple: #48012C;
    --back-purple: #715663;
    --tag-gray: #E9E9E9;
    --list-small-gray: #777777;
    --list-back-gray: #DCDCDC;
    --list-main-gray: #F5F0F0;
    --intro-o: #785B33;
    --main-font: "Noto Sans KR", sans-serif;
    --font-microsoft: "Microsoft Uighur";
    --font-Mukta: "Mukta", sans-serif;
    --font-jsMath-cmbx10: "jsMath-cmbx10";
    --font-Eczar: "Eczar", serif;
    --font-Akatab: "Akatab", sans-serif;
    --font-Mingzat: "Mingzat", sans-serif;
}

body {
    font-family: "Noto Sans KR", "Microsoft Uighur", "Mukta", "jsMath-cmbx10", "Eczar", "Akatab", "Mingzat", ;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.inner {
    /*width: 1672px;*/
    /* width: 100%; */
    max-width: 1672px;
    margin: 10 80px 0 80px;
    /* padding: 0 40px; */
    box-sizing: border-box;
    /* background-color: forestgreen; */
}
header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    /* background: #ccc; */
    background-color: var(--main-color);
}
header .inner{
    position: relative;
    padding-top:4px;
     margin: 0 auto;
}
header .inner .line_bg{
    width: 0;
    height: 28px;
    background: var(--main-color);
    position: absolute;
    left: 0; top: 46px;
    z-index: 10;
}

header .line {
    display: flex;
    padding: 0px 0px 10px 0px;
    justify-content: center; 
}

header .line img{
    width: 40px;
}
header .line li {
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 270;
    margin-top: 16px;
}

header .line li.on {
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: 500;
    color: var(--main-red);
    margin-top: 12px;
}



header .line li a {
    margin-right: 58px;
    color: #000; /* 기본 글씨 색 */
    text-decoration: none;
    transition: color 0.3s;
}

header .line li.on a {
    margin-right: 58px;
    color:var(--main-red); /* 기본 글씨 색 */
    
}





footer {
    width: 100%;
    height: 320px;
    background-color: var(--main-red);

    /* display: flex; */

}

footer .inner {
    display: flex;
    padding-top: 4%;
    margin: 0 auto;
}

.footer_section {
    flex: 1;
    text-align: center;
}

footer .left {
    text-align: left;
    align-self: flex-end;
    
    margin-left: 4%;
/* width: 45%; */
/* height: 100%; */
/* background-color: #000; */
}

footer .left p {
    color: var(--main-gray);
    font-family: var(--main-font);
    font-size: 200%;
    font-weight: 400;
    text-transform: uppercase;

}

footer .left ul {
    display: flex;
}
footer .left ul li{
    /* margin-right: 10px; */
}
footer .left ul li a {
    color: var(--main-gray);
    font-family: var(--main-font);
    font-size: 80%;
    font-weight: 400;
    text-transform: uppercase;
}


footer .center{
    color: var(--main-gray);
    font-family: var(--main-font);
font-size: 41px;
font-weight: 400;
letter-spacing: -0.82px;

justify-content: center;
align-content: center;
}

footer .center img{
    width: 72px;
    height: 78px;
}

footer .right {
    text-align: right;
    align-self: flex-end;
  /* margin-left: 6%; */
    margin-right: 4%;
    
/* width: 45%; */
/* background-color: #000; */
}

footer .right p {
    color: var(--main-gray);
    font-family: var(--main-font);
    font-size: 200%;
    font-weight: 400;
    text-transform: uppercase;
}

footer .right em {
    color: var(--main-gray);
    font-family: var(--main-font);
    font-size: 80%;
    font-weight: 400;

}


