@charset "utf-8";


.main_visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.2;
}

.main_visual {
    width: 100%;
    height: 100vh;
    /* background: var(--main-gray); */
    /* background-color: cadetblue; */
    position: relative;
    overflow: hidden;
}

/* .top {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    animation: topAni 2s forwards;
}

.bottom {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    animation: bottomAni 2s forwards;
}

@keyframes topAni {
    0% {
        left: 100%;
    }

    100% {
        left: 50%;
        margin-left: -378px;
    }
}

@keyframes bottomAni {
    0% {
        right: 100%;
    }

    100% {
        right: 50%;
        margin-right: -378px;
    }
}

.main_visual .txt {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_visual .txt p {
    color: #000;

    text-align: center;
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: 360;
    line-height: 40px;
    visibility: hidden;

    animation: txtAni 1.5s forwards;
    animation-delay: 2s;
}

@keyframes txtAni {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
 */




.intro {
    width: 100%;
    height: 100vh;
    padding: 4px 0px;
    /* 사진위아래 여백임 */
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    background-color: rgb(14, 9, 1);
}

.intro .left {

    z-index: 3;
    position: absolute;
    right: 40%;
    top: 14%;
    /* background-color: #e4e4e4; */
}
.intro .left img{
    padding-top: 1%;
    
}
.intro .left .write {
    color: rgba(214, 158, 3, 0.856);
    margin-left: 10%;
    font-size: 130%;
    transform: translateY(-120%);
    margin-top: 4%;
}

.intro .left h3 {
    /* width: 956px; */
    /* height: 452px; */
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 265%;
  transform: translateY(-30%);
    color: #e7e7e7;
    /* display: inline-block; */
/* background-color: #E6E6E6; */
    margin-left: 10%;

}

.intro .left h3 span {
    display: block;
}

.intro .left h3 span.line1 {
    font-size: 50px;
    color: #5e5e5e;
    /* color: #a1a1a1; */
    line-height: 1;
}


.intro .left h3 span.line2 {
    padding-top: 20px;
    margin-bottom: 2%;
}

.intro .left h3 span.line2 i {

    color: rgba(214, 158, 3, 0.856);
    font-weight: 500;

}

.intro .left h3 span.line3 {
    font-size: 60%;
}

.intro .left a {
    display: block;
    margin-top: 40px;
    font-size: 60px;
    border-radius: 60px;
    width: 28vw;
    color: #000;
    justify-content: center;
    background-color: #e4e4e4;
    text-align: center;
    border: 1px solid #000;
}

.intro .left a:hover {
    border-color: #fff;
    background-color: #000;
    color: #fff;

}

.intro .right {
    width: 40%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: saddlebrown; */
    margin-top: 7%;
}

.intro .right img {
    
    transform: scale(0.9);
    transition: transform 0.1s ease;
    
    transform-origin: right center;
    
}



.value {
     width: 100%;
    /* height: 98vh;   
    overflow: hidden;
    position: relative; */
}
.value video{
     /* width: 100%;
    height: 98vh;
    object-fit: cover; */
     /* transform: scale(1);  */
      /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; */

  width: 100%;
  height: auto;
  display: block;
}


.projects {
    width: 100vw;
    height: 95%;
    background-color: #000;
    color: #fff;
    display: block;
    text-align: center;
    /* 가로 가운데 */
    padding-top: 6vw 0 10vw 0;
    padding-bottom: 6%;

}
.projects img{
    width: 100%;
}
.projects h2 {
    /* margin-top: 30px; */
    padding-top: 30px;
    font-size: 60px;

}

.projects h3 {
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;

}

.projects .projectslink {
    display: flex;
    justify-content: center;
    /* 버튼 가로 가운데 */
    gap: 20px;
    /* 버튼 사이 간격 */
    margin-bottom: 30px;
}

.projects .projectslink a {
    border: 2px solid #fff;
    border-radius: 20px;
    margin-right: 40px;
    width: 16%;
    height: 5vh;
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    /* ← flex 적용 */
    justify-content: center;
    /* 가로 가운데 */
    align-items: center;

}

.projects .projectslink a:hover {
    background-color: #fff;
    color: #000;
    font-weight: 400;
}

.projects h3 img {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.projects .tag {
    display: flex;
    margin-left: 64%;
    gap: 50px;
    /* 버튼 사이 간격 */
    margin-bottom: 30px;
    margin-top: 3%;
}

.projects .two {
    display: flex;
    /* width: 100vw; */
    height: 84%;
    gap: 20px;
    background-color: #000;
    padding: 0 4px 0 4px;
}

.projects .two .left,
.projects .two .right {
    flex: 1;
    min-width: 0;
    border: 1px solid #e4e4e4;
    height: 84vh;
}

.projects .two h4 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.projects .two h5 {
    font-size: 18px;
    font-weight: 300;
}

.projects .two .projectslink {
    display: flex;
    gap: 10px;


    justify-content: center;
    align-items: center;
}

.projects .two .projectslink a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    border: 2px solid #fff;
    /* ← border 두께 키워서 버튼 커지게 */
    border-radius: 20px;
    height: 14%;
    padding: 12px 24px;
    /* 글자 위아래 여유 확보 */
    font-size: 20px;
    /* 글자 그대로 유지 */
    color: #fff;
    transition: 0.3s;
}

.projects .two .projectslink a:hover {
    background-color: #fff;
    color: #000;
}

.projects .two img {
    width: 40vw;
    height: 50vh;
    margin-bottom: 6px;
}

.projects .two .tag {
    display: flex;
    flex-direction: column;
    /* 세로 방향 정렬 */
    align-items: flex-start;
    /* 왼쪽 정렬 */
    gap: 5px;
    /* 줄 사이 간격 */
    /* margin-top: 4px; */
    font-size: 18px;
    font-weight: 400;
}


.tag span {
    display: block;
    /* 기본 block 속성으로 한 줄씩 표시 */
    margin-bottom: 6px;
    /* 브라우저 기본 margin 제거 */
    /* font-size: 18px; */

}




.skill {
    width: 100vw;
    height: 100vh;
    background-color: forestgreen;
    color: #fff;
    display: block;
    /* 섹션 자체는 block */
    text-align: center;
    padding: 6vw 0 10vw 0;
    /* 위, 아래 여유 */
}




/* value */
/* .value .txtAniBox {
    width: 100%;
    height: 70px;
    background: var(--back-beep-purple);
    color: #E6E6E6;
    font-family: var(--font-Mingzat);
    font-size: 40px;
    font-weight: 400;
    overflow: hidden;

}

.txtAniBox .simply-scroll:nth-child(1) {
    color: #E6E6E6;


}

.txtAniBox .simply-scroll .simply-scroll-list {
    display: flex;
}

.txtAniBox .simply-scroll .simply-scroll-clip {

    overflow: hidden;
}

.value .txtAniBox ul {
    display: flex;
    height: 70px;
    align-items: center;
    white-space: nowrap;
    /* 줄바꿈 안한다 */
    /* transform-origin: left top; */
    /* justify-content: flex-start; */

/* }

.value .txtAniBox ul li {
    margin-right: 50px;
} */

/* .value .value_img {
    position: relative;
    
    background-image: url(../img/character.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 940px;
    padding-bottom: 160px;
}

.value .value_img::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
   
}


.value .value_img h2 {
    padding-top: 120px;
    padding-left: 124px;
    color: #FFF;

    font-family: var(--font-Mukta);
    font-size: 120px;

    font-weight: 400;
    line-height: 130px;
    text-transform: uppercase;

    position: relative;
}

.value .value_img h2 i {
    width: 990px;
    height: 130px;
    background-color: var(--back-purple);

    position: absolute;
    left: 124px;


}

.value .value_img p {
    
    margin-top: 240px;
    
    padding-left: 124px;
    color: var(--white-color);
    font-family: var(--font-Mukta);
    font-size: 300%;
    font-weight: 400;
    line-height: 80px;

}

.value .value_img p em {
    color: #632040;
    font-family: var(--font-Mukta);
    font-size: 100%;
    font-weight: 600;
    line-height: 80px;

}  */



/* point */
.point {
    width: 100%;
    /* height: 1458px; */
    height: 1400px;
    background-color: rgb(14, 9, 1);
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */



}

.point .point_main {
    width: 100%;
    height: 900px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.point h2 {
    font-family: var(--font-Eczar);
    font-size: 140px;
    color: var(--orange);
    font-weight: 400;
    margin-top: 400px;
    margin-bottom: 90px;
    /* background-color: #9A4F30; */
    /* line-height: normal; */
    /* height: 250px; */
}

/* .point .sticky {
    height: 100%;
    position: relative;
} */

.sticky_con {
    width: 95%;
    height: 598px;
    /* background-color: #5C0202; */
    position: relative;


}

.sticky_con ul {
    width: 1266px;
    height: 598px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* gap: 70px; */
    /* align-content: center; */
    /* position: absolute; */

    /* top: 40px; */
    perspective: 100vh;
    /* 뒤집을때 사용함 */
}

.sticky_con ul li {
    width: 375px;
    height: 584px;
    position: relative;
    /* font-size: 50px; */
    transform-style: preserve-3d;
    /* back돌릴때 사용하는거 */
    /* transition: .2s; */
}

.sticky_con ul li>div {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    top: 0;
    background: var(--main-color);
    color: var(--white-color);
    cursor: default;
    backface-visibility: hidden;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
}

.sticky_con ul li:nth-child(1) .front {
    background-image: url(../img/rejhow.png);
    width: 375px;
    height: 583px;
}

.sticky_con ul li:nth-child(2) .front {
    background-image: url(../img/ifro.png);
    width: 375px;
    height: 583px;
}

.sticky_con ul li:nth-child(3) .front {
    background-image: url(../img/workfrk.png);
    width: 375px;
    height: 583px;
}

.sticky_con ul li:nth-child(1)>.back {
    /* background: var(--white-color); */
    /* color: var(--white-color); */
    background-image: url(../img/Adaptability_pic.png);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;



}

.sticky_con ul li:nth-child(2)>.back {
    background-image: url(../img/Cautious_pic.png);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

.sticky_con ul li:nth-child(3)>.back {
    background-image: url(../img/Teamwork.png);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

.sticky_con ul li>.back h3.fir {
    color: #FFDB2C;
    text-align: center;
    font-family: var(--main-font);
    font-size: 280%;
    font-weight: 500;

}

.sticky_con ul li>.back h3.sec {
    color: #fefefe;
    text-align: center;
    font-family: var(--main-font);
    font-size: 280%;
    font-weight: 500;

}

.sticky_con ul li>.back h3.thir {
    color: #FD0003;
    text-align: center;
    font-family: var(--main-font);
    font-size: 280%;
    font-weight: 500;

}

.sticky_con ul li>.back p {
    color: #FFF;

    text-align: center;
    font-family: var(--main-font);

    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
}

.sticky_con ul li>.back em {
    color: #FFF;

    text-align: center;
    font-family: var(--main-font);
    line-height: 37px;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
}




/* contact */

.contact {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;


}

.contact .inner {
    display: flex;

}

.phone-container {
    perspective: 1000px;
    width: 670px;
    height: 644px;
    /* background-color: #632040; */
}

.phone {
    /* width: 400px; */
    transform-style: preserve-3d;
    animation: rotatePhone 2s infinite alternate ease-in-out;
    width: 90%;
    height: 90%;
}

@keyframes rotatePhone {
    0% {
        transform: rotateY(-12deg);
    }

    100% {
        transform: rotateY(8deg);
    }
}

.contact .contact_right {
    /* background-color: #5C0202; */
    width: 60%;
    height: 644px;
    margin-left: 4%;
}

.contact .contact_right .right_top {}

.contact .contact_right .right_top h2 {
    color: #000;

    font-family: var(--main-font);
    font-size: 360%;

    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2.6px;
    text-transform: uppercase;

    margin-top: 120px;
    margin-bottom: 5%;
}

.contact .contact_right .right_bottom h3 {
    color: rgb(109, 67, 0);

    font-family: var(--main-font);
    font-size: 240%;
    font-weight: 400;

}